extends layouts/main
include mixins/imageBlock

block content
    .home-images
        each item in images
            +imageBlock({
                id: item.id,
                imageFile:item.fileUrl,
                createdAt: item.createdAt,
                creator:item.creator.name
            })