extends layouts/main

block content
    .form-container
        form(action=`/images${routes.upload}` method="post", enctype="multipart/form-data")
            div.imageUpload
                label(for="file") 이미지 업로드
                input(type="file", id="file", name="imageFile", required=true, accept="image/*")
            textarea(name="description", placeholder="내용", required=true)
            input(type="submit", value="이미지 업로드")