extends layouts/main
include mixins/imageBlock

block content
    .user-profile
        .user-profile-header
            img.avatar(src=user.avatarUrl)
            h3.profile-username=user.name
        if loggedUser && loggedUser.id === user.id
            .user-edit-button
                a(href=`/users${routes.editProfile}`)
                    button 프로필 수정하기
        .home-images
            each item in user.images
                +imageBlock({
                    id: item.id,
                    imageFile:item.fileUrl
                })
            