extends layouts/main

block content
    .form-container
        form(action=routes.editImage(image.id), method="post")
            textarea(name="description", placeholder="내용")=image.description
            input(type="submit", value="수정완료")
        a.from-delete(href=routes.deleteImage(image.id))
            button.delete 게시물 삭제