.imageDetail-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .image-box {
    width: 80%;
    max-width: 50%;
    min-width: 80%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .image-info {
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    strong.uploads-user {
      font-family: $font;
      font-size: 1.6em;
      justify-content: flex-start;
      a {
        color: rgb(61, 61, 61);
      }
    }
    button.edit-img {
      justify-content: flex-end;
      background-color: $buttonBg;
      border-radius: 30px;
      font-family: $font;
      border: none;
      margin-top: -8px;
      a {
        color: #fff;
        font-size: 1.2em;
        padding: 0px 15px;
      }
    }
  }
  .image-description {
    width: 80%;
    height: 3.6em;
    line-height: 1.2em;
    margin: 20px 0px;
    font-family: $font;
    font-size: 1em;
    text-align: left;
    font-weight: 600;
    color: rgb(61, 61, 61);
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .image-likes {
    text-align: left;
    width: 80%;
    font-family: $font;
    color: rgb(61, 61, 61);
    margin-top: 15px;
    font-size: 0.9em;
    button {
      border: none;
      background-color: rgba(250, 250, 250, 1);
      i {
        font-size: 1.2em;
      }
    }
  }
  .image-comments {
    width: 80%;
    .add-comment {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 30px;
      margin-bottom: 5px;
      input[type="text"] {
        width: 80%;
        margin-right: 5%;
        border: $borderColor;
        border-radius: 30px;
        justify-content: flex-start;
        font-family: $font;
        &::placeholder {
          padding-left: 10px;
        }
      }
      button#jsSubmitBtn {
        width: 14%;
        border: none;
        justify-content: flex-end;
        background-color: $buttonBg;
        border-radius: 30px;
        color: #fff;
        font-family: $font;
        font-size: 1.1em;
      }
    }
    .comment-list {
      width: 100%;
      list-style: none;
      li span {
        font-family: $font;
        border-bottom: $borderColor;
        width: 100%;
        display: flex;
        padding: 15px 5px;
        justify-content: space-between;
        color: rgb(61, 61, 61);
        font-size: 1em;
        box-sizing: border-box;
        .comment-user-info {
          margin-left: auto;
          display: flex;
          p {
            color: rgb(148, 148, 148);
            justify-content: left;
            margin: 0px 5px;
            font-size: 0.9em;
            font-weight: 600;
          }
          button {
            justify-content: right;
            margin: 0px 5px;
            color: rgb(204, 23, 129);
            background-color: rgba(250, 250, 250, 1);
            border: none;
            font-weight: 600;
          }
        }
      }
    }
    .comment-number {
      display: block;
      width: 100%;
      margin: 10px 5px;
      font-family: $font;
      color: rgb(61, 61, 61);
      font-size: 0.9em;
    }
  }
}
